<div class="card-container">

  <div class="section-top">
    <div class="box1">OBELISK THE TORMENTOR</div>
    <div class="box2">
      @for (star of stars; track $index) {
        <img src="/images/estrella.png" alt="star" class="star">
      }
    </div>
  </div>

  <div class="section-middle">
    <div class="box3">
      <img [src]="imageUrl()" alt="Obelisk the Tormentor" class="card-image">
    </div>
  </div>

  <div class="section-bottom">
    <div class="box4">
      <div class="boxbox1">
        <strong>[DIVINE-BEAST]</strong>
        <p>
          The descent of this mighty creature shall be heralded by burning winds and twisted land.
          And with the coming of this horror, those who draw breath shall know the true meaning of eternal slumber.
        </p>
      </div>
      <div class="boxbox2">
        <span>ATK/4000</span>
        <span>DEF/4000</span>
      </div>
    </div>
  </div>

</div>