body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.contenedor {
  min-height: 100vh;
  display: flex;
  background-color: #00ffd5;
}

.menu {
  flex: 1;
  background-color: #00ffd5;
}

.principal {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  background-color: #00eaff;
}

.contenido {
  flex: 4;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 35px;
}

.cuadro {
  flex: 1 1 40%;
  background-color: #e0009b;
  border: 2px solid #00eaff;
}