body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.contenedor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #00ffd5;
}

.header {
  flex: 1;
  background-color: #00eaff;
}

.cuerpo {
  flex: 4;
  display: flex;
  flex-direction: row;
}

.menu {
  flex: 1;
  background-color: #00ffd5;
}

.contenido {
  flex: 3;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.linea-uno {
  flex: 1;
  background-color: #a9c3ee;
}

.linea-dos {
  flex: 1;
  background-color: #5d4bb2;
}

.zona-cuadros {
  flex: 5;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.cuadro {
  flex: 1 1 40%;
  background-color: #e0009b;
  border: 2px solid #00eaff;
}